.title {
  margin: 2rem 0;
  text-align: center;
}

.rulesCard {
  max-width: 800px;
  margin: 0 auto 3rem;
}

.list {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.list li {
  margin-bottom: 0.75rem;
  line-height: 1.6;
}